@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #abc2b1;
  font-size: 62.5px;
}

.contenedor {
  margin: auto;
  width: 85%;
  height: 100%;
}

main article {
  height: 100vh;
  padding: 0.2rem 0;
  margin: 2rem;
  background-color: white;
}

nav {
  height: 15vh;
  width: 100vw;
  background-color: #232f3e;
  font-size: 1rem;
}

nav .responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Cuando el botón tenga la clase .activo cambiará a display: inline-block */
}

nav .responsive button {
  display: none;
  font-size: 1.8rem;
  color: white;
  border: 1px solid transparent;
  background: none;
  padding: 0.5rem;
}

nav .responsive button .boton-abrir .activo {
  display: inline-block;
}

nav .responsive button .boton-cerrar .activo {
  display: inline-block;
}

nav .responsive button:hover {
  border: 1px solid #c7c7c7;
}

nav .contenedor-enlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Separamos los dos elementos del nav */
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .contenedor-enlaces .departamentos {
  font-size: 0.8rem;
  color: #ccc;
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav .contenedor-enlaces .departamentos:hover {
  border: 1px solid #ccc;
}

nav .contenedor-enlaces .departamentos:hover span {
  color: #e68b02;
}

nav .contenedor-enlaces .departamentos span {
  display: block;
  font-size: 1rem;
  font-weight: 500;
}

nav .contenedor-enlaces .departamentos i {
  position: relative;
  font-size: 10px;
  margin-bottom: 0.8rem;
  margin-left: 0.5rem;
}

nav .contenedor-enlaces .enlaces {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .contenedor-enlaces .enlaces a {
  color: #ccc;
  text-decoration: none;
  margin-right: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.5rem;
}

nav .contenedor-enlaces .enlaces a:hover {
  border: 1px solid #ccc;
}

nav .contenedor-grid {
  position: relative;
  background-color: #ccc;
}

nav .contenedor-grid .grid {
  top: 5px;
  position: absolute;
  z-index: 1000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "categorias subcategorias imagenes imagenes";
}
/*# sourceMappingURL=style.css.map */