@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

html {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #abc2b1;
  font-size: 62.5px;
}
.contenedor {
  margin: auto;
  width: 90%;
}

main article {
  height: 100vh;
  padding: 0.2rem 0;
  margin: 2rem;
  background-color: white;
}

nav {
  height: 5vw;
  background-color: #232f3e;

  .responsive {
    display: flex;
    justify-content: space-between;

    /* Cuando el botón tenga la clase .activo cambiará a display: inline-block */
    button {
      display: none;
      font-size: 1.8rem;
      color: white;
      border: 1px solid transparent;
      background: none;
      padding: 0.5rem;

      .boton-abrir .activo {
        display: inline-block;
      }

      .boton-cerrar .activo {
        display: inline-block;
      }

      &:hover {
        border: 1px solid #c7c7c7;
      }
    }
  }

  .contenedor-enlaces {
    display: flex;
    /* Separamos los dos elementos del nav */
    justify-content: space-around;
    align-items: center;

    .departamentos {
      font-size: 0.8rem;
      color: white;
      border: 1px solid transparent;
      border-radius: 7px;
      padding: 4px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &:hover {
        border: 1px solid white;
      }

      span {
        display: block;
        font-size: 1rem;
        font-weight: 500;
      }

      i {
        position: relative;
        font-size: 10px;
        margin-bottom: 0.8rem;
        margin-left: 0.5rem;
      }
    }

    .enlaces {
      font-size: 1rem;
      display: flex;
      align-items: center;

      a {
        color: white;
        text-decoration: none;
        margin-right: 1rem;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 0.5rem;

        &:hover {
          border: 1px solid white;
        }
      }
    }
  }
}
